@model List<Cd>


    <form asp-action="Index" asp-controller="Cds">
        <p>
             Search for a CD:
            <input type="text" name="SearchboxString">
            <input class="create" type="submit" value="Search">
        </p>
    </form>