@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The CD Library!</h1>
    </div>
        <div class="text-center1">
    <p>This is the webpage were you can add artists, CD's and borrow CD's.
        Register att People, add, update or delete an artist at Artist, add, update 
        or delete a CD at CDs and borrow a CD at Library.
    </p>
    <p>This website is created with ASP.net Core for the course Webbutveckling med .NET at
        Mid Sweden University, by Tilda Källström 2022.
    </p>
</div>

