@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
html {
  font-size: 14px;
}

.header, header {
    box-shadow: 0px 5px 5px black;
    font-family: "Playfair Display", serif;
}
nav, .navbar {
    background-image: linear-gradient(to right,#1b1b1b, black, #1b1b1b);
    box-shadow: 0px 5px 5px black;
}  
h1, h2, h3 {
    font-family: "Playfair Display", serif;
    color: #b5b5b5;
}
p, .text-center1 {
    max-width: 45ch;
    margin: auto;
    margin-top: 1em;
}
.lineone, .linetwo, .linethree {
    width: 38px;
    height: 5px;
    border-radius: 25px;
    background-color: white; 
    margin: 5px;
    transition: 0.5s;
}

.nav-link {
    color: #d0d0d0;
}
p, span, li, th, td, td a, a {
    font-family: 'Muko', sans-serif;
    color: #b5b5b5;
}
.delete {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: darkred;
    text-decoration: none;
}
.delete:hover {
    color: black;
    background-color: indianred;
}
.details {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: darkolivegreen;
    text-decoration: none;
}
    .details:hover {
        color: black;
        background-color: darkseagreen;
    }
.edit {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: darkslateblue;
    text-decoration: none;
}
    .edit:hover {
        color: black;
        background-color: cornflowerblue;
    }
.creatediv {
    margin-top: 1em;
    margin-bottom: 2em;
}
.create {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: darkolivegreen;
    text-decoration: none;
    color: white;
    
}
    .create:hover {
        color: black;
        background-color: greenyellow;
    }
    .btn {
        margin-top: 1em;
    }
footer {
    background-image: linear-gradient(to right, black, #1b1b1b, black);
    box-shadow: -5px -5px 5px 0px black;
}
@media (max-width: 780px) {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid black;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
    }
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1b1b1b;
    color: lightgray;
}